body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.tile {
    width: 120px;
    height: 120px;
    cursor: pointer;
}